body{
    background-color: #DEDED1;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-bar{
    display: flex;
    justify-content: space-evenly;
}

.search-results{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
}

.search-entry{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}